.dishes{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    background-color: #F4ECE1;
}

.sub-heading{
    text-align: center;
    color: #00af66;
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: #00af66;
    font-size: 4rem;
    padding-top: 0.1rem;
}

.dishes .sub-heading{
    text-align: center;
    color: #00af66;
    font-size: 4rem;
    padding-top: 2rem;
    margin-bottom: 10px;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 20px 100px 100px 100px;
}

.dishes .box-container .box-dishes{
    padding: 2.5rem;
    background: #fff;
    width: 310px;
    border-radius: .5 rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 10px 3px 5px 0 rgba(0, 0, 0, 0.099);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-left: 2px;
    margin-bottom: 30px;
}

.dishes .box-container .box-dishes .fa-heart,
.dishes .box-container .box-dishes .fa-eye{

    position: absolute;
    top: 1.8rem;
    background: #eee;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    color: #191a20;
}

.dishes .box-container .box-dishes .fa-heart:hover,
.dishes .box-container .box-dishes .fa-eye:hover{
    background: #00af66;
    color: #fff;
}

.dishes .box-container .box-dishes .fa-heart{
    right: -15rem;
}

.dishes .box-container .box-dishes .fa-eye{
    left: -15rem;
}

.dishes .box-container .box-dishes:hover .fa-heart{
    right: 1.5rem;
}

.dishes .box-container .box-dishes:hover .fa-eye{
    left: 1.5rem;
}

.dishes .box-container .box-dishes img{
    height: 15rem;
    width: 15rem;
    margin: -0.1rem 0;
}

.dishes .box-container .box-dishes h3{
    color: #191a20;
    font-size: 2rem;
    margin-top: 10px;
}

.dishes .box-container .box-dishes .estrellas-start{
    padding: 1rem 0;
}

.dishes .box-container .box-dishes .estrellas-start i{
    font-size: 1.2rem;
    color: #00af66;
}

.dishes .box-container .box-dishes span{
    color: #00af66;
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 1.5rem;
}
/* BOTON DE COMPRA */

.btn-dishes{
    background-color: #00af66;
    color: #fff;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.423);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-left: 45px;
    align-items: center;
    justify-content: center;
}

.btn-dishes:hover{
    scale: 1;
    color: #fff;
    background-color: #191a20;
}

.btn-dishes:active{
      scale: 0.95;
}

.main-contact{
    display: flex;
    flex-wrap: wrap;
}

.footer-contact{
    padding: 10px 0;
}

.col{
    width: 25%;
    padding-left: 75px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.col h4{
    font-size: 1.4rem;
    color: #191a20;
    margin-bottom: 20px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: #00af66;
}

.col ul li:not(:last-child){
    margin-bottom: 15px;
}

.col ul li a{
    color:#191a20b3;
    font-size: 5rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
    font-size: 0.9rem;
}

.col ul li a:hover{
    color: #00af66;
    transform: translateX(-12px);
}

.col .social{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a{
    height: 40px;
    width: 100px;
    background-color: #00af66;
    color: #191a20;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 10px 10px;
    transition: .4s;
    margin-right: 15px;
}

.col .social a:hover{
    transform: scale(1.2);
    color: #00af66;
    background-color: #191a20;
}

.review{
    margin-bottom: 60px;
}

.review .slide{
    padding: 2rem;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.423);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
    margin: 20px 5px 20px 25px;
}

.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem; right: 2rem;
    font-size: 2rem;
    color: #ccc;
}

.review .slide .user{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: #191a20;
    font-size: 1.6rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.7rem;
    color: #00af66;
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
}

.swiper-container {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s;
}

.swiper-slide {
    flex: 0 0 23%;
}

.swiper-button-next {
    right: 0;
}


.swiper-button-prev {
    left: 0;
}